<%= render "shared/alert" %>
<div class="row">
  <div class="col-md-12">
    <h2 class="float-start">Categories</h2>
    <div class="float-end">
      <%= link_to new_category_path, class: "btn btn-success" do %>
        <i class="fa fa-plus"></i> New category
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="categories">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <%= render "category_row", category: category %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
